@import "./variables.scss";

.category__folder {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;

  &-icon {
    display: flex;
    align-items: center;
    margin-right: 5px;
    color: $color-gray;
    width: 17px;
    height: 15px;

    &_circle {
      border-radius: 50%;
      width: 17px;
      height: 15px;
    }
  }

  &-text {
    font-size: 16px;
    width: 100%;
    color: $color-darkGray;
    &:hover {
      transition: 0.1s;
      color: $color-blue;
    }
    &:active {
      transition: 0.1s;
      color: $color-white;
    }
  }

  &:hover {
    background-color: $color-white;
    transition: 0.8s;
    color: $color-gray;
    cursor: pointer;
  }

  &:active {
    background-color: $color-hoverCategory;
    color: $color-white;
    transition: 0.3s;
  }
}
